<div class="conatiner">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 mx-auto mt-5">
                <h1 class="text-center">SIGN IN</h1>
                <div class="divForm2">
                    <input type="text" placeholder="Nombre usuario" id="txtUserName" class="form-control mb-2"
                        autocomplete="off">
                    <input type="text" placeholder="Contrasenia" id="txtPass" class="form-control mb-2"
                        autocomplete="off">
                    <label for="" id="lblNotify" style="display: none;"></label>
                    <button id="btnSignin" class="form-control btn btn-dark mb-3">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>